
@import formtastic
@import my_formtastic

$lightgrey: #E8E8E8
$lightgrey2: #F8F8F8 
$entryfield: #FFFFE0
$symbolfield: $lightgrey
$plugin: #7D2252
$ruby: #990000
$tab:  #880000
$status: #9900CC
$url: blue
$url_visited: $ruby

body
  background: $lightgrey2
  a
    text:
      decoration: none

.banner
  background: $ruby
  color: white
  a
    text:
      decoration: none
    color: white
  .maintitle
    font:
      style: bold
      size: xx-large
  .logo
    float: right
    margin: 10px 10px 5px 5px
  .logged_in
    color: white
    text-align: right

form
  .info
    style: bold
    size: small
    color: darkgreen
    float: right
  // Show/hide table rows 
  .on
    color: darkblue
    display: ""
  .off 
    color: yellow
    display: none
  .error
    background: red
    color: yellow
  .required
    background: yellow
  .readonly
    background: lightgrey
  .boolean3
    font:
      size: small
  .toggle
    border: 1px solid #006
    background: #9cf
  input
    border: 1px solid #006
    background: $entryfield
  .symbol
    input
      background: $symbolfield
  .number
    font:
      size: small
    input
      text-align: right
    
