// 

.formtastic
  #person_registration_input
    background: yellow
    color: red
  #person_name_input
    background: yellow
    color: red
  #person_year_of_birth_input
    background: yellow
    color: red
