- [:notice, :error, :success].each do |key|
  - unless flash[key].blank?
    %p{ :class => "flash #{key}" }
      = flash[key] 

.logo
  = link_to image_tag("Leprosy_PR_2010.jpg", :align => "right"),
    "http://www.who.int/lep/situation/en/"

%p
  =raw parse_markdown(File.read(File.dirname(__FILE__)+'/../../../README.md').split(/\n\n/)[0..3].join("\n\n"))
%p
  =raw parse_markdown(File.read(File.dirname(__FILE__)+'/../../../TODO.md'))
%p
  =raw parse_markdown(File.read(File.dirname(__FILE__)+'/../../../RELEASE.md'))
%p
  =raw parse_markdown(File.read(File.dirname(__FILE__)+'/../../../doc/README_FOR_APP.md'))
